*.blend
*.egg-info/
*.obj
*.pt
*.tar.gz
*.ckpt
*.pth
.cache/
.idea/
.nsc
.polyscope.ini
.venv/
.vscode/
__pycache__/
build/
dist/
eval-*/
results/
ckpt/
results_objectness/
results_classifier/
results_reasoning/
official_results/
cad_results/
cad_eval/
COCO*/data